# ==========================================
# API Keys
# ==========================================

GROQ_API_KEY=
HF_TOKEN=

# ==========================================
# Server
# ==========================================

HOST=http://localhost
PORT=5000
BACKEND_URL=http://localhost:3000

# ==========================================
# Providers
# Available: groq, ollama, huggingface
# ==========================================

PROVIDER_MAIN_AGENT=groq
PROVIDER_HUMANIZER=groq
PROVIDER_PERSONA_GENERATOR=ollama
PROVIDER_JUDGE=ollama
PROVIDER_JUDGE_CLASSIFIER=huggingface
PROVIDER_INTERROGATOR=ollama

# ==========================================
# Models
# ==========================================

MODEL_MAIN_AGENT=llama-3.3-70b-versatile
MODEL_HUMANIZER=llama-3.1-8b-instant
MODEL_PERSONA_GENERATOR=llama3.1
MODEL_JUDGE=llama3.1
MODEL_JUDGE_CLASSIFIER=qwen2.5-classifier
MODEL_INTERROGATOR=llama3.1